html {
    background-image: url("/foto.jpeg");
    background-attachment: fixed;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-repeat: no-repeat;
    background-size: cover; 
}


main {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50vw;
    color: black;
    padding: 16px;
    /* padding-top: 50px; */
    margin-top: 50px;
    margin-left: 2rem;
    border-radius: 0.5rem;
    
}

.header {
    /* position: sticky; */
    top: 0;
}

nav {
    /* background-image: url("/foto.jpeg"); */
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    height: 20px;
    padding: 16px;
    border-radius: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    /* padding-left: 50px; */
}

nav a:hover {
    color: rgb(10, 10, 10);
}

h1 {
    color: black;
}

h2 {
    color: purple;
}

a {
    color: goldenrod;
}

section a {
    color: darkgreen;
}

article {
    padding: 20px;
}

.my-article__list {
    list-style-type: circle;
}

.my-article__olist {
    list-style-type: lower-alpha;
}

footer {
    color: wheat;
}

.footer__content {
    padding: 16px;
}

.footer__top-link {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: block;
    background-color: black;
    padding: 10px;
    border-radius: 0.5rem;
}