html {
    background-color: black;
}
main {
    color: rgb(235, 238, 144);
    
}

h2 {
    color: #fff;
}

a {
    color: goldenrod;
}

section a {
    color: lightblue;
}

footer {
    color: wheat;
}